.btn {
  @apply py-2 w-full mb-4 rounded-lg transition-all;
}

.primary {
  composes: btn;
  @apply bg-primary-800 font-semibold text-secondary-50 hover:bg-primary-600;
}

.secondary {
  composes: btn;
  @apply border-2 font-semibold border-primary-300 text-primary-800 hover:bg-primary-300 hover:text-primary-600;
}

.tertiary {
  composes: btn;
  @apply underline underline-offset-4 text-primary-800 hover:text-primary-500;
}
